

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-titulos{
    background-color: rgba(255, 255, 255, 0.499) ;
}

/* -------------------------------------------------------------------Header---------------------------------------------------------------- */
#header img {
    width: 6rem;
}

/* -------------------------------------------------------------------Main------------------------------------------------------------------ */


/*-------------------------------------------------------------------titulos------------------------------------------------------------------*/

#titulo-principal img {
    width: 100%;
    height: 35vh;
    object-fit: cover;

}

#titulo{
    bottom: 6.25rem;
}

#search-input {
    flex: none;
    width: 15rem;
}

/*Inputs*/
#inputs-generales .row{
    width: 100%;
}

/*----------------------------------------------------------------Cards---------------------------------------------------------------------*/
#cards img {
    width: 100%;
    height: 9rem;
    border-radius: .5rem;
    object-fit: cover;
}

.card-body {
    height: 18rem;
}

/*----------------------------------------------------------------Contact--------------------------------------------------------------------*/
#form-section input , #form-section textarea {
    width: 70vw;
}

#submit {
    width: 15rem !important;
}

/*----------------------------------------------------------------stats--------------------------------------------------------------------*/
.firt-row , .second-row{
    width: 40%;
}

/*----------------------------------------------------------------Details--------------------------------------------------------------------*/

#imagen-detalles img {
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    object-fit: cover;
}

/*----------------------------------------------------------------Footer---------------------------------------------------------------------*/
#footer img {
    width: 3rem;
}